.home-page {
	color: #EBDFDF;
	font-size: 60px;
	padding-bottom: 50%;
	padding-top: 10%;
	text-align: center;
	background-image: url(../images/studio4Wallpaper.png);
	background-size: 100%;
	background-repeat: no-repeat;

	text-shadow: 0 1px 0 black;
}

.home-page:after {
	content: "Psicologo";
	font-size: 40px;
}

.rounded {
    border-top: 2px solid #1E1E1E;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 12%;
    margin-right: 12%;
}

/*MediaQuery Tablet*/

@media screen and (min-width: 768px) and (max-width: 1023px){
}

/*MediaQuery Smartphone*/

@media screen and (max-width: 767px){
    .home-page {
        font-size: 40px;
    }

    .home-page:after {
        content: "Psicologo";
        font-size: 30px;
    }
}