/*
  AUTO GRID
  imposta la grandezza minima dell'elemento con "--auto-grid-min-size"
*/

.cli_header {
    padding-top: 10px;
    text-align: center; 
    color: #1E1E1E;
}

.rounded {
    border-top: 2px solid #1E1E1E;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 20px;
}

ul.auto-grid {
    --auto-grid-min-size: 16rem;
    
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
    padding: 1rem;
}


ul.auto-grid li {
    border-radius: 20px;
    text-align: center;
    font-size: 1.2rem;
    background: rgba(185, 117, 67, 0.7);
    transition: 0.4s;
}

ul.auto-grid li:hover {
    background: rgba(185, 117, 67, 1);
    box-shadow: 2px 3px 5px -3px #302f2f;
    /*The fourth property there -2px is the shadow spread, 
    you can use it to change the spread of the shadow, 
    making it appear that the shadow is on one side only.
    This also uses the shadow positioning rules 10px sends it to the right 
    (horizontal offset) and 0px keeps it under the element (vertical offset.)

    5px is the blur radius
    
    https://stackoverflow.com/questions/5115427/how-can-i-add-a-box-shadow-on-one-side-of-an-element*/
}

ul.auto-grid li a {
    /*display: block e il padding vanno messi al link e non al list item, 
    altrimenti l'area del link rimane troppo piccola*/
    display: block;
    padding: 3rem 1rem;
    text-decoration: none;
    color: #ffffff;
}

.cli_foot {
    color: #7E2C1F;
    background-color: rgb(241, 232, 232);
    font-size: 22px;
    font-weight: normal;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    border-radius: 15px;
    /*box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;*/
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
